
            <footer id="footer">
                <div class="footer-copyright">
                    <div class="container py-2">
                        <div class="row py-4">
                            <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                                <a href="{{ site.url }}{{ site.subdir }}/" class="logo pr-0 pr-lg-3 pl-3 pl-md-0">
                                    <img alt="{{ site.title | escape }}" class="img-responsive" src="{{ site.url }}{{ site.subdir }}/assets/site-img/pediatricurologybook-white.svg">
                                </a>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                                <p>© Copyright {{ site.time | date: "%Y" }}. Todos los derechos reservados.</p>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                                <nav id="sub-menu">
                                    <ul>
                                        {%- if site.email -%}<li><i class="fas fa-envelope"></i><a href="mailto:{{ site.email | cgi_escape | escape }}" class="opacity-7 pl-1">{{ site.email | escape }}</a></li>{%- endif -%}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>