
            <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}" style="height: 101px;">
                <div class="header-body border-top-0" style="position: fixed; top: 0px;">
                    <div class="header-container container-fluid px-lg-4" style="height: 70px; min-height: 0px;">
                        <div class="header-row">
                            <div class="header-column header-column-border-right flex-grow-0">
                                <div class="header-row pr-4">
                                    <div class="header-logo" style="width: 100px; height: 48px;">
                                        <a href="index.html">
                                            <img alt="Pediatric Urology Book" width="100" height="48" data-sticky-width="82" data-sticky-height="40" src="img/logo-default-slim.png" style="top: 0px; width: 82px; height: 40px;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-column">
                                <div class="header-row">
                                    <div class="header-nav header-nav-links justify-content-center">
                                        <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                            <nav class="collapse header-mobile-border-top">
                                                <ul class="nav nav-pills" id="mainNav">
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle" href="index.html">
                                                            Página de inicio</a>
                                                    </li>                                                    
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-column header-column-border-left flex-grow-0 justify-content-center">
                                <div class="header-row pl-4 justify-content-end">
                                    <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean m-0">
                                        <li class="social-icons-facebook"><a href="http://www.facebook.com/pediatricurologybook" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="social-icons-twitter"><a href="http://www.twitter.com/pediatricurologybook" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        
                                    </ul>
                                    <button class="btn header-btn-collapse-nav ml-0 ml-sm-3" data-toggle="collapse" data-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>