
            <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 109}" style="height: 145px;">
                <div class="header-body border-top-4" style="position: fixed; top: 0px;">
                    <div class="header-container container-fluid px-lg-4" style="height:145px; min-height: 0px;">
                        <div class="header-row">
                            <div class="header-column header-column-border-right flex-grow-0">
                                <div class="header-row">
                                    <div class="header-logo" style="width: 1558px; height: 109px;">
                                        <a href="{{ site.url }}{{ site.subdir }}">
                                            <img alt="Pediatric Urology Book" width="1558" height="109" data-sticky-width="1158" data-sticky-height="109" src="{{ site.url }}{{ site.subdir }}/assets/site-img/header.jpg" style="top: 0px; width: 1558px; height: 109px;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="header-column">
                                <div class="header-row">
                                    <div class="header-nav header-nav-links justify-content-center">
                                        <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                            <nav class="collapse header-mobile-border-top">
                                                <ul class="nav nav-pills" id="mainNav">
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/index.htm">
                                                            Página de inicio</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/about.htm">
                                                            Sobre nosotros</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/chiefeditors.htm">
                                                            Editores jefes</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/sectioneditors.htm">
                                                            Editores de sección</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/contributors.htm">
                                                            Colaboradores</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/contents.htm">
                                                            Tabla de contenido</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/links.htm">
                                                            Enlaces patrocinados</a>
                                                        <a class="dropdown-item dropdown-toggle" href="https://pediatricurologybook.com/contact.htm">
                                                            Contacta con nosotros</a>
                                                    </li>                                                    
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </header>